body {
font-family: Arial, sans-serif;
background-color: #B0E0D3;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
}

/* Header font styling */
.header-font {
    font-size: 30px;
    font-weight: bold;
    color: #03b20f;
    align-self: flex-start;
}
/* Label font styling */
.label-font {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    align-self: flex-start;
}

/* Box styling */
.box {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #ffffff;
padding: 20px;
border-radius: 12px;
width: 100%;
max-width: 300px;
box-shadow: 0 4px 10px rgba(3, 62, 22, 0.2);
margin: 5%;
}
/* form header */
.form-header {
margin-bottom: 10px;
}
/* Form div */
.form-div {
width: 100%;
margin-bottom: 10px;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(35, 201, 57);
border-radius: 12px;
padding: 10px;
}

select, input {
width: 100%;
padding: 10px;
border-radius: 8px;
}

button {
margin-top: 10px;
padding: 10px 20px;
font-size: 16px;
background-color: #dbe9df;
border: none;
border-radius: 8px;
cursor: pointer;
max-width: 200px;
transition: background-color 0.3s ease;
}
button:hover {
background-color: #a6e7a6;
}


